html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height:100%; /* Adjust for the height of the button and modal header */
    z-index: 0;
    position: sticky;
}

/* Define the sidebar styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px; /* Adjust for the width of the sidebar */
    background-color: #131a41;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
    z-index: 2;
}

.sidebar.show {
    right: 0;
}

.sidebar.hide {
    right: -250px; /* Adjust for the width of the sidebar */
}

/* Style the sidebar links/buttons */
.sidebar a {
    padding: 10px 15px;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.2s;
}

.sidebar a:hover {
    color: #007bff;
}

#toggleSidebar {
    z-index: 8;
    position: absolute;
    top: 0;
    right: 0; /* Position the button on the top right corner */
}

/* Style for the modal */
#instructionsModal {
    z-index: 3; /* Ensure it's above the sidebar */
}



/* Style the base layers container */
.leaflet-control-layers-base {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Style the base layer labels */
.leaflet-control-layers-base label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

/* Style the checked base layer label */
.leaflet-control-layers-base label.checked {
    font-weight: bold;
}

/* Style the over label when hovering */
.leaflet-control-layers-base label:hover {
    background-color: #f5f5f5;
    border-radius: 3px;
}

/* Change the background color of the layerControl buttons */
.leaflet-control-layers-toggle {
    background-color: #131a41;
}

/* Change the background color of the zoom buttons */
.leaflet-bar a.leaflet-control-zoom-in,
.leaflet-bar a.leaflet-control-zoom-out {
    background-color:#131a41  !important; /* Change this to your desired color */
    color: white !important; /* Change the text color if needed */
}

.leaflet-layer {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
 /* Dark modal background */
.modal-content {
    background-color: #333 !important ; /* Dark background color for the modal */
    color: #fff !important ; /* Light text color for the modal content */
}

/* Close button color */
.modal-header .btn-close {
    color: #fff !important ; /* Light color for the close button */
}

#instructionsTable {
    color: white;
}
   